.form-auth {
	height: 225px;
    width: 30%;
    padding: 2%;
    margin: 2% auto;
    color: #fff;
    font-family: "Sitka Display";
    background-color: #333;
}

.form-auth a{
    color: #fff;
}

.form-auth a:active{
    color: #fff;
}

.form-auth a:hover{
    color: #fff;
}


.text-label {
    font-size: 1.4em;
}
.input {
    width: 90%;
    height: 30px;
    margin-bottom: 1%;
}

.form-auth button {
    margin: 1% auto;
    width: 91%;
    height: 40px;
}

.button {
    width: 24%;
    height: 44px;
    background-color: #333;
    color: #fff;
    font-family: "Sitka Display";
    cursor: pointer;
	font-size: 1.0em;
}

.button:hover {
    background-color: #9a4800;
}