.comments {
    width: 80%;
    margin: 3% auto;
    flex-flow: column wrap;
    justify-content: center;
}

.comment {
    width: 100%;
    justify-content: left;
}

.text {
    height: 40px;
    padding: 0 0 0 1%;
    margin: 0 0 2%;
}

.input-comment {
    width: 40%;
    margin-right: 1%;
}

.input-name {
    width: 20%;
}

.button {
    width: 19%;
    height: 44px;
    background-color: #333;
    color: #fff;
    font-family: "Sitka Display";
    cursor: pointer;
}

.button:hover {
    background-color: #9a4800;
}

.name {
    width: 80%;
    margin: 0 auto;
}

.name h2 {
    color: #fff;
    font-family: "Sitka Display";
}

.user-comments {
    width: 80%;
    margin: 2% auto;
}

.user-name {
    color: #fff;
    font-family: "Sitka Display";
    background-color: #555;
    padding: 1% 2%;
}

.user-comment {
    overflow-x: hidden;
    color: #fff;
    font-family: "Sitka Display";
    background-color: #333;
    padding: 2% 2%;
}

.container {
    margin-bottom: 1%;
}
