* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../image/bg.jpg) no-repeat fixed;
}

.flex-container {
    display:flex;
    flex-flow: row wrap;
    align-content: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}


.size-logo {
    width: 14%;
}

.logo {
    align-items: center;
}

.info img {
    width: 19%;
    float: left;
}

.phone img {
    width: 13%;
    margin-left: 3%;
}

.phone p {
    margin-left: 3%;
}

.info {
    display: flex;
    display: flex;
    align-items: center;
    padding: 4% 0 4% 4%;
}

.info p {
    float: left;
    font: 1em "Sitka Display";
    color: #fff;
}

.logo h1 {
    color: #fff;
    font-family: "Sitka Display";
    font-size: 2em;
    margin-top: 4%;
}

.nav {
    width: 80%;
    margin: 3% auto 0;
    background: #333;
    list-style: none;
    font-family: "Kristen ITC";
}

.nav li {
	padding: 1% 3%;
    flex-basis: 6%;
    cursor: pointer;
}

.nav li a {
	padding: 1% 3%;
    flex-basis: 6%;
	width: 100%;
	height: 100%;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav li:hover {
    background: #9a4800;
}

.foot {
    background-color: #333;
    margin: 3% 0 0;
    padding: 1% 0;
}

.block-foot {
    color: #fff;
    width: 25%;
    font-family: "Sitka Display";
}

.about p {
    margin: 3% 0;
}

.link p {
    margin: 3% 0;
    font-weight: bold;
}

.social {
    justify-content: left;
}

.social a {
    width: 15%;
    margin-right: 5%;
}

.social a img {
    width: 100%;
}

.social a:last-child {
    margin-right: 0;
}

.foot-nav ul {
    list-style: none;
}

.foot-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.foot-nav ul li a:hover {
    color: #9a4815;
}

.block-foot:last-child {
    width: 15%;
}

.cart div a {
    float: left;
    margin-right: 3%;
}

.one {
    margin-right: 6%;
}

.clearfix {
    clear: both;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 3% 0 0;
}

.cart div p{
    text-align: center;
    color: #fff;
    background-color: #9a4800;
    border-radius: 10%;
    padding: 3% 8%;
    float: left;
}

.cart:hover .two {
    background-color: #fff;
    color: #9a4800;
}

.two{
	text-align: center;
    color: #fff;
    background-color: #9a4800;
    border-radius: 10%;
    padding: 3% 8%;
    float: left;
}

@media screen and (max-width: 1050px) {
    .nav {
        width: 100%;
    }
}

@media screen and (max-width: 860px) {
    .logo {
        flex-flow: column wrap;
    }

    .logo h1 {
        width: 90%;
        font-size: 1em;
    }

    .logo .logotype {
        width: 100%;
    }

    .logo div {
        width: 100%;
    }

    .nav {
        font-size: 0.7em;
        flex-flow: column wrap;
    }

    .nav li {
        text-align: center;
        padding: 3% 0;
        width: 100%;
    }
    .foot {
        position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
        flex-flow: column-reverse wrap;
        justify-content: center; 
    }
    .block-foot {
        width: 90%;
        font-size: 0.8em;
        bottom: 0;
    }
    .foot-nav {
        width: 90% !important;
    }
    .foot-nav ul {
        width: 100%;
    }
    .foot-nav ul li {
        width: 100%;
        text-align: center;
    }
}