.slider {
    width: 80%;
    margin: 3% auto 0;
    position: relative;
}

.image {
    display: none;
}

.image img {
    max-height: 800px;
}

.active {
    display: block;
}

.slider .image img {
    width: 100%;
}

.switch {
    position: absolute;
    width: 10%;
    height: 100%;
    cursor: pointer;
}

.switch:hover {
    background-color: #333333;
    opacity: 0.3;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.clearfix {
    clear:both;
}

.products {
    width: 80%;
    margin: 3% auto 0;
}

.product {
    width: 80%;
    margin: 3% auto 0;
}

.prod {
    width: 20%;
    padding: 3%;
    height: 250px;
}

.prod img {
    width: 100%;
    max-height: 165px;
}

.description {
    border-top: 0.1em solid #222;
    margin-top: -2%;
    background-color: #eee;
    height: 50%;
    font-family: "Sitka Display";
    padding: 5%;
    position: relative;
}

.description h3 {
    font-size: 0.9em;
    height: 25%;
}

.description p {
    font-size: 0.8em;
    padding: 9% 0;
    height: 25%;
}

.description span {
    font-weight: bold;
}

.description input {
    position: absolute;
    text-decoration: none;
    right: 2%;
    bottom: 3%;
    padding: 3% 9%;
    color: #000;
    border: 0.1em solid #ff7600;
}

.description input:hover {
    background-color: #ff7600;
    color: #fff;
}

.category-name {
    width: 80%;
}

.category-name h2 {
    color: #fff;
    margin: 3% 0 0;
    font-family: "Sitka Display";
    font-size: 2em;
}


@media screen and (max-width: 1050px) {
    .description input {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 400px) {
    .description input {
        padding: 2% 8%;
        font-size: 0.6em;
    }
}

@media screen and (max-width: 860px) {
    .category-name h2 {
        font-size: 1em;
    }
    .dishes {
        flex-flow: column wrap;
    }
	.dishess {
    width: 80%;
    margin: 3% auto 0;
}
    .dish {
        width: 100%;
        margin-bottom: 70%;
    }
    .dish .description {
        height: 85%;
    }
    .description input {
        padding: 3% 12%
    }
}
